body {
    background-color: grey;
    min-height: 100vh;
}

.main-con{
    border: 2px solid black;
    border-color: #000000;
    border-radius: 6px;
    background: rgba(10, 116, 52, 0.8);
    margin: 20px 3px 20px 3px;
    padding: 30px;
    
}

header {
    text-align: center;
    background-color: azure;
    border: 2px solid blue;
    border-radius: 6px;
}

h2 {
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.press-piece{
    display: inline-flex;
    align-items: center;
    
}

table{
    width: 100%;
    border-collapse: collapse;
    /* border: 2px solid blue; */
}

thead{
    background-color: cadetblue;
}

th{
    padding: 12px;
    text-align: center;
    font-weight: 500;
    border-bottom: 2px solid rgb(13, 13, 27);
}

tbody tr{
    border-bottom: 0.5px solid black;
}

tbody tr:hover{
    background-color: aquamarine;
}

td{
    padding: 12px;
    font-size: 14px;
}